@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Nunito+Sans:opsz@6..12&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

a{
  text-decoration: none;
}